<!doctype html>
<!--
        Template:	 Unika - Responsive One Page HTML5 Template
        Author:		 imransdesign.com
        URL:		 http://imransdesign.com/
    Designed By: https://www.behance.net/poljakova
        Version:	1.0	
-->
<html lang="en-US">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CrowdRise</title>
        <meta name="description" content="CrowdRise">
        <meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
        <meta name="author" content="imransdesign.com">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Fonts  -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

        <!-- Libs and Plugins CSS -->
        <link rel="stylesheet" href={{ asset('inc/bootstrap/css/bootstrap.min.css') }}>
        <link rel="stylesheet" href={{ asset('inc/animations/css/animate.min.css') }}>
        <link rel="stylesheet" href={{ asset('inc/font-awesome/css/font-awesome.min.css') }}> <!-- Font Icons -->
        <link rel="stylesheet" href={{ asset('inc/owl-carousel/css/owl.carousel.css') }}>
        <link rel="stylesheet" href={{ asset('inc/owl-carousel/css/owl.theme.css') }}>
        <link rel="stylesheet" href="{{ asset('bundles/dcsrating/css/rating.css') }}" />

        <!-- Theme CSS -->
        <link rel="stylesheet" href={{ asset('css/reset.css') }}>
        <link rel="stylesheet" href={{ asset('css/style.css') }}>
        <link rel="stylesheet" href={{ asset('css/mobile.css') }}>


        <!-- Skin CSS -->
        <link rel="stylesheet" href={{ asset('css/skin/cool-gray.css') }}>
<!-- <link rel="stylesheet" href={{ asset('css/skin/ice-blue.css') }}> -->
<!-- <link rel="stylesheet" href={{ asset('css/skin/summer-orange.css') }}> -->
<!-- <link rel="stylesheet" href={{ asset('css/skin/fresh-lime.css') }}> -->
<!-- <link rel="stylesheet" href={{ asset('css/skin/night-purple.css') }}> -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {#link du notification#}
        <script type="text/javascript" src={{ asset('Notification/js/jquery.min.js') }}></script>
        {# /link du notification#}

        {# Notifications List Script#}
        <script type="text/javascript" src={{ asset('Notification/NotificationAffichage.js') }}></script>
        <link rel="stylesheet" href={{ asset('Notification/NotificationStyle.css') }}>
        {#/Notification Liste#}
  <script>
        $(function(){
        $('input').on('change',function(){
          alert("Changed: " + $(this).val())
        });
      });
    </script>
    </head>

    <body data-spy="scroll" data-target="#main-navbar">
        <div class="page-loader"></div>  <!-- Display loading image while page loads -->
        <div class="body">

            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                    <div class="container">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand page-scroll" href="{{ path('pidev_crowd_rise_accueil') }}">CrowdRise</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right" id="nav">
                                <li><a class="page-scroll" href="{{ path('pidev_crowd_rise_accueil') }}">Acceuil</a></li>
                               
                                    {% if (app.user) %}
                                    
                                   
                                    
                                    {% if  (app.user.granted("ROLE_SOLVER")) %}
                                    <li><a  href="">Crédit</a></li>
                                    {% elseif (app.user.granted("ROLE_SUBMITTER")) %}
                                         <li><a class="page-scroll" href="{{ path('pidev_crowd_rise_AjouterProjet') }}">Lancer Un Projet</a></li>
                                         <li><a class="page-scroll" href="{{ path('ajouter_problem') }}">Demande d'un Service</a></li>
                                    {% endif %}
                                     <li><a class="page-scroll" href="{{ path('pidev_profil_afficher',{'id':app.user.id}) }}">hi {{ app.user.username }}</a></li>
                                      <li id="notification_li">
                                    <span id="notification_count">
                                        {% block NotificationNumber %}
                                            0
                                        {% endblock %}
                                    </span>
                                    <a href="{{ path('notification_user',{'id':'Ketata'}) }}" id="notificationLink">Notifications</a>
                                    <div id="notificationContainer">
                                        <div id="notificationTitle">Notifications</div>
                                        <div id="notificationsBody" class="notifications">
                                            {#{% block NotificationContent %}
                                            {% endblock %}#}
                                            <ul>
                                                {#{% for Notif in NotificationContent %}
                                                    <li id="NotificationListe">
                                                        <h5>{{ Notif.message }}</h5>
                                                    </li>
                                                {% endfor %}#}
                                            </ul>
                                        </div>
                                        <div id="notificationFooter"><a href="#">See All</a></div>
                                    </div>

                                </li>
                                    <li><a  href="{{ path('fos_user_security_logout')}}">Déconnexion </a></li>
                                    {% else %}
                                    <li><a class="page-scroll" data-toggle="modal" data-target=".bs-example-modal-sm" href="{{ path('fos_user_security_login')}}">Se connecter </a></li>
                                    <li><a class="page-scroll" href="{{ path('pidev_mail_sendmail')}}">Contact us</a></li>
                                    {% endif %}
                               
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->
                <div class="modal scroll-fix fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog  modal-sm">
                        <div class="modal-content">



                            <div class="panel-footer col-sm-12 col-md-12 ">

                            </div>
                            <div>
                                {% block formulaire %}
                                {% endblock %}
                            </div>
                            <div class="panel-footer text-center col-sm-12 col-md-12">

                                {#<li> <a class="col-sm-6 col-md-12 btn btn-link" href="fos_user_registration_register">S'inscrire</a></li>#}
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </header>
            <!-- ========= END HEADER =========-->
            {% block content %}
            {% endblock %}
            <!-- Begin footer -->
            <!--Utilisable -->
            <!-- Begin contact section -->
            <section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" 
                     style="background-image: url({{ asset('img/map-bg.jpg') }});">

                <div class="cover"></div>

                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <br>
                    <br>
                    <br>
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contactez-nous</h2>
                            <div class="devider"></div>
                            <p class="subtitle">A l'écoute de vos réclamations</p><br><br><br><br>
                            {% for flashMessage in app.session.flashbag.get('notice') %}

                                <div class="alert alert-success  fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ flashMessage }}
                                </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>  

                <!-- End page header-->

                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="contact-info">
                                    <br><h4>Notre Adresse</h4>
                                    <ul class="contact-address">
                                        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp;
                                            Z.I. Chotrana II - B.P. 160  ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            2083 Pôle Technologique - Cité El Ghazala ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ariana, Tunisie, 2080</li>

                                        <li><i class="fa fa-phone"></i>&nbsp; 00-216-70-685-685 </li>
                                        <li><i class="fa fa-print"></i>&nbsp; 00-216-70-685-685</li>
                                        <li><i class="fa fa-envelope"></i>  <a href="mailto:CrowdRise1516@gmail.com">CrowdRise1516@gmail.com</a></li>
                                        <li><i class="fa fa-skype"></i> Crowd-Rise</li>
                                    </ul>

                                </div>

                                {# ***********importation de l'API Map : bibliothèque JAVASCRIPT********* #}
                                <script src="http://maps.googleapis.com/maps/api/js"></script>

                                <script>
                                    var myCenter = new google.maps.LatLng(36.8984821, 10.189761900000008);

                                    function initialize()
                                    {
                                        var mapProperties = {
                                            center: myCenter,
                                            zoom: 10,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        };

                                        var map = new google.maps.Map(document.getElementById("googleMap"), mapProperties);

                                    {#ajout du Marker #}
                                            var marker = new google.maps.Marker({
                                                position: myCenter,
                                                animation: google.maps.Animation.BOUNCE,{#animation du Marker#}
                                                title: 'Click to zoom'
                                            });

                                            marker.setMap(map);

                                    {#fenetre dinfo#}
                                            var infoFenetre = new google.maps.InfoWindow({
                                                content: 'Welcome To ESPRIT!'
                                            });

                                            infoFenetre.open(map, marker);

                                    {#Zoummer lors du clique sur le marker#}
                                            google.maps.event.addListener(marker, 'click', function () {
                                                map.setZoom(16);
                                                map.setCenter(marker.getPosition());
                                            });

                                        }
                                        google.maps.event.addDomListener(window, 'load', initialize);

                                </script>   
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div id="googleMap" style="width:530px;height:240px;"></div>

                            </div>

                            <div class="col-sm-6">
                                <div class="contact-form">
                                    <br> <h4>Contactez-nous</h4> 
                                    <form role="form" action ="{{path('pidev_mail_sendmail')}}" method="POST">
                                        <div class="form-group">
                                            <input type="text" name="nom" class="form-control input-lg" placeholder="Votre Nom" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="prenom" class="form-control input-lg" placeholder="Votre Prénom" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="integer" name="tel" class="form-control input-lg" placeholder="Votre Téléphone" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email"  name="email" class="form-control input-lg" placeholder="Votre Adresse Electronique" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="sujet" class="form-control input-lg" placeholder="Sujet" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea name="message" class="form-control input-lg" rows="5" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Envoyer</button>
                                    </form>
                                </div>	
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
            </section>
            <!-- End contact section -->


            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

        </div><!-- body ends -->




        <!-- Plugins JS -->
        <script src="{{ asset('js/bootstrap-rating-input.min.js') }}" type="text/javascript"></script>
        <script src={{ asset('inc/jquery/jquery-1.11.1.min.js') }}></script>
        <script src={{ asset('inc/bootstrap/js/bootstrap.min.js') }}></script>
        <script src={{ asset('inc/owl-carousel/js/owl.carousel.min.js') }}></script>
        <script src={{ asset('inc/stellar/js/jquery.stellar.min.js') }}></script>
        <script src={{ asset('inc/animations/js/wow.min.js') }}></script>
        <script src={{ asset('inc/waypoints.min.js') }}></script>
        <script src={{ asset('inc/isotope.pkgd.min.js') }}></script>
        <script src={{ asset('inc/classie.js') }}></script>
        <script src={{ asset('inc/jquery.easing.min.js') }}></script>
        <script src={{ asset('inc/jquery.counterup.min.js') }}></script>
        <script src={{ asset('inc/smoothscroll.js') }}></script>
        <script src="{{ asset('bundles/dcsrating/js/rating.js') }}"></script>
        <!-- Theme JS -->
        <script src={{ asset('js/theme.js') }}></script>


        <script>$(document).ready(function () {

                                            (function ($) {

                                                $('#filter').keyup(function () {

                                                    var rex = new RegExp($(this).val(), 'i');
                                                    $('.searchable tr').hide();
                                                    $('.searchable tr').filter(function () {
                                                        return rex.test($(this).text());
                                                    }).show();

                                                })

                                            }(jQuery));

                                        });</script>

        <script>
            $(function () { /* to make sure the script runs after page load */

                $('.item').each(function (event) { /* select all divs with the item class */

                    var max_length = 150; /* set the max content length before a read more link will be added */

                    if ($(this).html().length > max_length) { /* check for content length */

                        var short_content = $(this).html().substr(0, max_length); /* split the content in two parts */
                        var long_content = $(this).html().substr(max_length);

                        $(this).html(short_content +
                                '<a href="#" class="read_more"><br/>Afficher la suite</a>' +
                                '<span class="more_text" style="display:none;">' + long_content + '</span>'); /* Alter the html to allow the read more functionality */

                        $(this).find('a.read_more').click(function (event) { /* find the a.read_more element within the new html and bind the following code to it */

                            event.preventDefault(); /* prevent the a from changing the url */
                            $(this).hide(); /* hide the read more button */
                            $(this).parents('.item').find('.more_text').show(); /* show the .more_text span */

                        });

                    }

                });
            });
        </script>
  
    </body> 


</html>

