{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}
{% block content %}
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>


    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-color: whitesmoke">

        <div class = "container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Déposer votre problème</h2>

                    <div class="panel panel-grey wow bounceInLeft">
                        <div class="panel-heading"></div>
                        <div class="panel-body pan">
                <form action="" method="post" {{ form_enctype(Form) }}>
                    
                    {#<div class="col-sm-8">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" placeholder="recherche" name="s" class="form-control left-rounded">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-inverse right-rounded">Chercher</button>
                                        </div>
                                    </div>
                                </div>
                            </div>#}
                                <div class="form-body pal">
                                 

                                    
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        Titre
                                        
                                {{form_widget(Form.titre,{ 'attr': {'class': 'form-control'} })}}
                                        </div>
                                    </div>

                                      
                                    <div class="form-group">
                                         <div class="input-icon">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        Description
                                       
                                {{form_widget(Form.description,{ 'attr': {'class': 'form-control'} })}}
                                        </div>
                                    </div>
                                               
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        Date Problème
                                        
                                {{form_widget(Form.dateProbleme,{ 'attr': {'class': 'form-control'} })}}
                                        </div>
                                    </div>
                                               
                                    <div class="form-group">
                                         <div class="input-icon">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        Deadline Problème
                                       
                                {{form_widget(Form.deadlineProbleme,{ 'attr': {'class': 'form-control'} })}}
                                        </div>
                                    </div>
                                               
                                    <div class="form-group">
                                         <div class="input-icon">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        Membre ID
                                       
                                {{form_widget(Form.MembreId,{ 'attr': {'class': 'form-control'} })}}
                                        </div>
                                        <br>
                                        <div class="input-icon">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                            Catégorie
                                            
                                {{form_widget(Form.categorie,{ 'attr': {'class': 'form-control'} })}}
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        Fichier
                                         
                                {{form_widget(Form.fichier,{ 'attr': {'class': 'form-control'} })}}
                                        </div>
                                    </div>
                                                         
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                {{form_widget(Form.fichier)}}
                                        </div>
                                    </div>
                                        <br>
                                       
                                    <div class="form-group">
                                        
                                {{form_widget(Form.Ajouter)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         
                                {{form_rest(Form)}}
                                        </div>
                                    </div>                                </div>
                                            
                                
                            </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}

