
{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}
{% block content %}

    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>


    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-color: whitesmoke">
        <div class = "container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Consulter les solutions</h2>
                    <div class="panel panel-grey wow bounceInLeft">
                        <div class="panel-heading"></div>
                        <div class="panel-body pan" style="background-color: white">


                            <div class="input-group"> <span class="input-group-addon">Rechercher</span>

                                <input id="filter" type="text" class="form-control" placeholder="Ecrire ici ...">
                            </div>

                            <table class="table table-striped col-lg-4">
                                <thead>
                                    <tr>
                                        <th>Solution</th>
                                        <th>Problème</th> 
                                        <th>Modifier</th>
                                        <th>Supprimer</th>

                                    </tr>
                                </thead>
                                <tbody class="searchable">
                                    {% for solution in solutions %}

                                        <tr>
                                            <td>
                                                <a href="#"><h6> {{solution.getTitre()}} <i class=""></i></h6></a>
                                                <div class="item">
                                                    {{solution.getDescription()}}
                                                </div>
                                            </td>
                                            <td>

                                                <a href="#">  {{solution.ProblemeId.getTitre()}}</a>
                                            </td>
                                            <td><a href="{{ path('pidev_crowd_rise_updateSolution',{'id':solution.idSolution}) }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                            <td><a href="{{ path('pidev_crowd_rise_deleteSolution',{'id':solution.idSolution}) }}"><i class="glyphicon glyphicon-trash"></i></a></td>

                                        </tr>
                                    {% endfor %}


                                </tbody>
                            </table>


                            <nav>
                                <div class="pager arcive_Paging">
                <ul class="ul_paging">
                    <span class="acitve">{{ knp_pagination_render(solutions) }}</span>
                </ul>
            </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

