
{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}
{% block content %}

    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>


    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-color: whitesmoke">
        <div class = "container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Consulter les solutions</h2>
                    <div class="panel panel-grey wow bounceInLeft">
                        <div class="panel-heading"></div>
                        <div class="panel-body pan" style="background-color: white">


<<<<<<< HEAD
                            <div class="input-group"> <span class="input-group-addon">Filter</span>

                                <input id="filter" type="text" class="form-control" placeholder="Type here...">
=======
                            <div class="input-group"> <span class="input-group-addon">Rechercher</span>

                                <input id="filter" type="text" class="form-control" placeholder="Ecrire ici ...">
>>>>>>> a10ae7da7d3a2744dbcc1ebeb14f24950b3a4773
                            </div>

                            <table class="table table-striped col-lg-4">
                                <thead>
                                    <tr>
                                        <th>Solution</th>
                                        <th>Problème</th> 
                                        <th>Modifier</th>
                                        <th>Supprimer</th>
<<<<<<< HEAD
                                        <th>Evaluer</th>
=======
>>>>>>> a10ae7da7d3a2744dbcc1ebeb14f24950b3a4773

                                    </tr>
                                </thead>
                                <tbody class="searchable">
<<<<<<< HEAD

                                    <tr>
                                        <td>
                                            <h4>  solution1</h4>
                                            <p>iuzahqlnv</p>
                                        </td>
                                        <td>
                                            <a href="#">  problème3</a>
                                        </td>
                                        <td><a href="#">Modifier</a></td>
                                        <td><a href="#">Supprimer</a></td>
                                        <td>
                                            <div class="form-group">
                                                <div class="rating">
                                                    <label for="reliability-5">
                                                                <i class="fa fa-star"></i>
                                                            </label>
                                                            <label for="overall-5">
                                                                <i class="fa fa-star"></i>
                                                            </label>
                                                            <label for="quality-3">
                                                                <i class="fa fa-star"></i>
                                                            </label>
                                                            <label for="quality-2">
                                                                <i class="fa fa-star text-yellow"></i>
                                                            </label>
                                                            <label for="quality-1">
                                                                <i class="fa fa-star text-yellow"></i>
                                                            </label>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            <h4>  solution2</h4>
                                            <p>iuzahqlnv</p>
                                        </td>
                                        <td>
                                            <a href="#">  problème3</a>
                                        </td>

                                        <td><a href="#">Modifier</a></td>
                                        <td><a href="#">Supprimer</a></td>

                                        <td>
                                            <div class="form-group">
                                                <div class="rating">
                                                    <label for="quality-5">
                                                                <i class="fa fa-star"></i>
                                                            </label>
                                                            <label for="quality-4">
                                                                <i class="fa fa-star"></i>
                                                            </label>
                                                            <label for="quality-3">
                                                                <i class="fa fa-star"></i>
                                                            </label>
                                                            <label for="quality-2">
                                                                <i class="fa fa-star text-yellow"></i>
                                                            </label>
                                                            <label for="quality-1">
                                                                <i class="fa fa-star text-yellow"></i>
                                                            </label>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>

                                        <td>
                                            <h4>  solution1</h4>
                                            <p>iuzahqlnv</p>
                                        </td>
                                        <td>
                                            <a href="#">  problème3</a>
                                        </td>
                                        <td><a href="#">Modifier</a></td>
                                        <td><a href="#">Supprimer</a></td>

                                        <td>
                                            <div class="form-group">
                                                <div class="rating">
                                                   <label for="quality-5">
                                                                <i class="fa fa-star"></i>
                                                            </label>
                                                            <label for="quality-4">
                                                                <i class="fa fa-star"></i>
                                                            </label>
                                                            <label for="quality-3">
                                                                <i class="fa fa-star"></i>
                                                            </label>
                                                            <label for="quality-2">
                                                                <i class="fa fa-star text-yellow"></i>
                                                            </label>
                                                            <label for="quality-1">
                                                                <i class="fa fa-star text-yellow"></i>
                                                            </label>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
=======
                                    {% for solution in solutions %}

                                        <tr>
                                            <td>
                                                <a href="#"><h6> {{solution.getTitre()}} <i class=""></i></h6></a>
                                                <div class="item">
                                                    {{solution.getDescription()}}
                                                </div>
                                            </td>
                                            <td>

                                                <a href="#">  {{solution.ProblemeId.getTitre()}}</a>
                                            </td>
                                            <td><a href="{{ path('pidev_crowd_rise_updateSolution',{'id':solution.idSolution}) }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                            <td><a href="{{ path('pidev_crowd_rise_deleteSolution',{'id':solution.idSolution}) }}"><i class="glyphicon glyphicon-trash"></i></a></td>

                                        </tr>
                                    {% endfor %}
>>>>>>> a10ae7da7d3a2744dbcc1ebeb14f24950b3a4773


                                </tbody>
                            </table>


                            <nav>
<<<<<<< HEAD
                                <ul class="pager">
                                    <li><a href="#">Previous</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
=======
                                <div class="pager arcive_Paging">
                <ul class="ul_paging">
                    <span class="acitve">{{ knp_pagination_render(solutions) }}</span>
                </ul>
            </div>
>>>>>>> a10ae7da7d3a2744dbcc1ebeb14f24950b3a4773
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

