{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}



{% block content %}
    {% form_theme Form 'bootstrap_3_layout.html.twig' %}

    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>


    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-color: whitesmoke">

        <div class = "container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                                                     <div class=" text-center ">
        <h1>Formulaire d'Ajout d'un Projet</h1>
    </div>

                    <div class="panel panel-grey wow bounceInLeft">
                        <div class="panel-heading"></div>
                        <div class="panel-body pan">

                            <div class="form-body pal">
                                <div class="row">
                                    <div class="col-md-12">
      
                                    </div>

                                </div>
                                <div class="jumbotron">
                               <form action="" method="post" enctype="multipart/form-data">                                  
                                      titre:  {{ form_widget(Form.titre) }}      
                                        description:{{ form_widget(Form.description) }} 
                                        typeFinancement: {{ form_widget(Form.typeFinancement) }}
                                        Catégorie: {{ form_widget(Form.idcat) }} 
                                        deadlineProjet: {{ form_widget(Form.deadlineProjet) }} 
                                        Image Projet   {{ form_widget(Form.image_projet) }}  

                                        fichier Projet   {{ form_widget(Form.fichier_projet) }} 
                                        video_projet: {{ form_widget(Form.video_projet) }} 
                                      {{ form_widget(Form.Ajouter,{'attr':{'class':'btn btn-primary','style': 'background-color: #363940'}})}}
                                                {{ form_rest(Form) }}
                                        
                                    </form>
                              
                            </div>
                                                
                                    



                            </div>
                        </div>
                    </div>
                                                
                </section>
                                                <div style="background-color: whitesmoke">
                                                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
            {% endblock %}

