{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}
{% block content %}
    LISTER
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>


    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-color: whitesmoke">

        <div class = "container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Ajoutez votre solution</h2>

                    <div class="panel panel-grey wow bounceInLeft">
                        <div class="panel-heading"></div>
                        <div class="panel-body pan">
                           <h1>Liste Des projets</h1>
<table border="1">
    <tr>
        <th>titre</th>
        <th>description</th>
        <th>typeFinancement</th>
        
        <th>Image</th>
        
       
    </tr>
    {% for projet in projets %}
    <tr>
        <td>{{projet.titre}}</td>
        <td>{{projet.description}}</td>
        <td>{{projet.typeFinancement}}</td>
        <td></td>
       {# <td><img height="150px" src="{{ asset(path('my_image_route', {'id': projet.idProjet})) }}"/> </td>#}
         <td><a href="{{path('pidev_crowd_rise_ModifierProjet',{'id': projet.idProjet}) }}">Modifier</a></td>
          <td><a href="{{path('pidev_crowd_rise_SupprimerProjet',{'id': projet.idProjet})}}">Supprimer</a></td>
        
        
        
        
        
    </tr>
    {% endfor %}
</table>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}

