{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}
{% block content %}
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>


    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-color: whitesmoke">

        <div class = "container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Modifier un Projet</h2>

                    <div class="panel panel-grey wow bounceInLeft">
                        <div class="panel-heading"></div>
                        <div class="panel-body pan">

                            <div class="form-body pal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <h3> Modification du projet {{ projet.titre }} </h3>
                                        </div>
                                    </div>

                                </div>
                                <form method="post">  
                                    <table>
                                        <tr> <td>titre: </td> <td> {{ form_widget(Form.titre) }} </td> </tr>      {#form fct prédéfinie twig   Form label #}
                                        <tr> <td>description:</td> <td> {{ form_widget(Form.description) }} </td> </tr>
                                        <tr> <td>typeFinancement:</td> <td> {{ form_widget(Form.typeFinancement) }} </td> </tr>
                                        <tr> <td>Catégorie:</td> <td> {{ form_widget(Form.idcat) }} </td> </tr>
                                        <tr> <td>deadlineProjet:</td> <td> {{ form_widget(Form.deadlineProjet) }} </td> </tr>
                                        <tr> <td>image_projet:</td> <td> {{ form_widget(Form.image_projet) }} </td> </tr>
                                        <tr> <td>fichier_projet:</td> <td> {{ form_widget(Form.fichier_projet) }} </td> </tr>
                                        <tr> <td>video_projet:</td> <td> {{ form_widget(Form.video_projet) }} </td> </tr>
                                        <tr> <td> {{ form_rest(Form) }} </td><td><FORM><INPUT Type="button" VALUE="Annuler " onClick="history.go(-1);return true;"></FORM></td> </tr>
                                    </table>
                                </form>


                                
                            </div>
                        </div>
                    </div>
                </div>
                </section>

            {% endblock %}

