{% extends 'PIDEVCrowdRiseBundle::layout.html.twig' %}
{% block content %}
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>
    <div class="extra-space-xxl" style="background-color: whitesmoke"></div>


    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-color: whitesmoke">

        <div class = "container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Modifier un Projet</h2>

                    <div class="panel panel-grey wow bounceInLeft">
                        <div class="panel-heading"></div>
                        <div class="panel-body pan">

                            <div class="form-body pal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <h3> Modification du projet {{ projet.titre }} </h3>
                                        </div>
                                    </div>

                                </div>
                                <form method="post">  

                                                                   
                                        titre:  {{ form_widget(Form.titre) }}      
                                        description:{{ form_widget(Form.description) }} 
                                        typeFinancement: {{ form_widget(Form.typeFinancement) }}
                                        Catégorie: {{ form_widget(Form.idcat) }} 
                                        deadlineProjet: {{ form_widget(Form.deadlineProjet) }} 
                                
                                        {{ form_widget(Form.Ajouter,{'attr':{'class':'btn btn-primary','style': 'background-color: #363940'}})}}
                                        <INPUT Type="button" VALUE="Annuler " onClick="history.go(-1);
                                                return true;">

                                    </form>



                            </div>
                        </div>
                    </div>
                </div>
                </section>

            {% endblock %}

